<div class="center">
  <br>
  <h1 class="text-center">"Your lack of time is their chance to a new life"</h1>
  <h2>About Down Syndrome and Autism</h2>
  <br>
  <p class="text">Down syndrome is a genetic disorder caused by the presence of a third copy of chromosome 21. It is
    usually associated with physical growth delays, mild to moderate intellectual disability and characteristic facial
    features. Autism refers to a broad range of conditions characterized by challenges with social skills, repetitive
    behaviors, speech and nonverbal communication.</p>
  <img src="../../../assets/teenagers.PNG" alt="Three teenagers" id="teenagers">
  <br>
  <br>
  <br>
  <img src="../../../assets/boy_playing.jpg" alt="Boy playing with ball" id="boy">
  <h2 id="h2-2">Usual treatments and therapies</h2>
  <br>
  <p class="text" id="2">While there is no cure for Down syndrome or autism, there are therapies, treatments and
    educational support available to improve the quality of life of those affected. Early intervention produces the
    best results. Young children are constantly in the process of developing speech and motor habits; by acting early,
    parents can foster the appropriate physical and behavior skills so that they become a habit. Even before a child
    with Down Syndrome reaches school age, various therapies can help.</p>

  <h2 id="h2-3">Our Solution</h2>
  <br>
  <p class="text">Our desire to unite technology and healthcare made us come up with this innovative idea. We know that
    people with these conditions can learn how to socialise through therapy and they also have a strong connection with
    dogs. On the other hand, most people nowadays are always in a rush and usually do not have so much time to spend with
    their pet. So we thought why not make this lack of time a benefit for others? And this is how HelpUp was born,
    a social network where the "always in a hurry" person can give their dog for a couple of hours to the Down Syndrome
    person and their caretaker and, by their nature, the dog will provide affection, comfort and can help with socializing.</p>
  <img src="../../../assets/rocking.jpg" alt="girl rocking it" id="rocking">

  <div style="height: 100px"></div>
</div>
