.navbar{
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-form{
  margin-left: 10.5%;
  width: 300px;
}

.form-control{
  width: 300px;
}

.state-container-dropdown {
  position: absolute;
  z-index: 1;
  padding: 10px;
  overflow: hidden;
  width: 300px;
  height: 210px;

  border: 1px solid #dedede;
  border-radius: 3px;
  background: white;
}

#profile-pic{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

#search-username{
  padding: 5px;
  cursor: pointer;
}

#search-username:hover{
  background: #ECF0F7;
}

#notifications{
  color: white;
  text-align: center;
  font-size: 10px;
  width: 15px;
  height: 15px;
  background: red;
  margin-left: 37px;
  margin-top: -25px;
  border-radius: 3px;
  font-weight: bold;
}

@media only screen and (max-width: 800px){
  #search-form{
    width: 100%;
    margin-left: -1%;
  }
  .form-control{
    width: 100%;
    margin-bottom: -15px;
  }
}
