<div class="container">

  <div class="chart-container-left">
    <canvas id="doughnutCityChart" width="400" height="400"></canvas>
  </div>

  <div class="chart-container-right">
    <canvas id="linePostsChart" width="400" height="400"></canvas>
  </div>

  <div class="chart-container-left" style="margin-top: 100px">
    <canvas id="barPostsChart" width="400" height="400"></canvas>
  </div>

  <div class="chart-container-right" style="margin-top: 100px">
    <canvas id="piePostsChart" width="400" height="400"></canvas>
  </div>

  <div style="height: 500px"></div>

</div>
