/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body{
  max-width: 100%;
  overflow-x: hidden !important;
  background: #f2f2f2;
}
